/* -------------------------------------------------------------------------- */
/* CSS Variables (Theme Colors, etc.)                                      */
/* -------------------------------------------------------------------------- */
:root {
  --noaa-dark-blue: #0054a4;
  --noaa-light-blue: #0093d0;
  --noaa-yellow-one: #fff3cd;
  --noaa-yellow-two: #ffeeba;
  --noaa-yellow-three: #856404;
  --noaa-accent-color: #00467f;
  --noaa-text-color: #333;
  --noaa-error-color: #af292e;
  --noaa-button-hover: #0073b6;
  --noaa-label-color: #0054a4;
  --noaa-border-dark: #565c65;
  --noaa-border-light: #ddd;
}

/* -------------------------------------------------------------------------- */
/* Global Resets / Base Styles                                             */
/* -------------------------------------------------------------------------- */
body {
  font-family:
    Arial Narrow,
    sans-serif;
  color: var(--noaa-text-color);
  line-height: 1.6;
  border-radius: 4px;
}

/* -------------------------------------------------------------------------- */
/* Header Styles                                                           */
/* -------------------------------------------------------------------------- */
.header {
  background: var(--noaa-dark-blue);
}

.header__title {
  color: white;
}

.header__username {
  font-weight: 600;
  color: #ebe6e6;
  text-transform: capitalize;
}

.header__menu-item--expanded {
  color: black;
}

.header__menu-item--collapsed {
  color: white !important;
}

.header__submenu-item {
  color: #ebe6e6 !important;
}

@media (max-width: 1023px) {
  .header__username {
    color: #000;
  }

  .header__submenu-item {
    color: #000 !important;
    margin-bottom: 0.8rem;
  }
}

/* USWDS Navigation Overrides (customizing default USWDS nav classes)         */
.usa-nav-container {
  padding: 1rem 0;
}

.usa-nav__secondary {
  bottom: 3rem !important;
  right: 1rem !important;
}

.usa-nav__secondary-links {
  height: 1rem;
}

.usa-nav__secondary-item {
  display: flex;
  align-items: center;
  color: white;
}

.usa-navbar {
  border-bottom: none !important;
}

/* -------------------------------------------------------------------------- */
/* Status Indicator Styles                                                 */
/* -------------------------------------------------------------------------- */
/*
  Used for small colored circles that indicate different statuses
  (green, yellow, red, or loading = blue).
*/
.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-indicator.green {
  background-color: green;
}

.status-indicator.yellow {
  background-color: yellow;
}

.status-indicator.red {
  background-color: var(--noaa-error-color);
}

.status-indicator.loading {
  background-color: blue;
}

/* -------------------------------------------------------------------------- */
/* Login                                                */
/* -------------------------------------------------------------------------- */

.login__go-back-button {
  display: flex;
  color: var(--noaa-dark-blue);
  align-items: center;
  gap: 0.3rem;
  font-size: 14px;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/* Switch Accounts                                               */
/* -------------------------------------------------------------------------- */

.switch-accounts__button {
  border: 2px solid var(--noaa-dark-blue);
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #005ea2;
}

.switch-accounts__username {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 3rem;
  text-transform: capitalize;
  font-weight: 600;
}

.switch-accounts__close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 16px;
}

/* -------------------------------------------------------------------------- */
/* Utility & Helper Classes                                                */
/* -------------------------------------------------------------------------- */
.text-error {
  color: var(--noaa-error-color);
}

.usa-list--unstyled > li {
  margin-bottom: 1rem !important;
}
