/* trussworks component styles */
@import "@trussworks/react-uswds/lib/uswds.css";
@import "@trussworks/react-uswds/lib/index.css";

/* normalize css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

#root,
html,
body {
  width: 100%;
  background-color: #f0f0f0;
}

.app-legend-bold-text > legend,
.app-label-bold-text > label {
  font-weight: bold;
}

.app-desc-list {
  display: flex;
  width: 100%;
  margin: 4px 0;
}

.app-desc-list dt {
  font-weight: bold;
}

.app-card {
  background-color: #fff;
  border-color: var(--noaa-border-light);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
}

.app-sec-header {
  font-size: large;
  font-weight: bold;
  line-height: 1rem;
  margin: 0.5rem 0;
}

hr.app-hr-heavy {
  border-top: 4px solid rgb(60, 60, 60);
}

hr.app-hr-light {
  border-top: 1px solid #757575;
}

.usa-form .usa-button.btn-fix-top-1 {
  margin-top: 0.5rem;
}

.usa-form .usa-button.btn-fix-top-3 {
  margin-top: 1.5rem;
}

@media (min-width: 640px) {
  .app-sec-header {
    font-size: x-large;
    line-height: 1.2rem;
  }
}
